body{
    font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
}

a{
    text-decoration: none;
}

.page{
    background: url('../img/theater.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-y: visible;
    color: #000000;
}

.content{
    margin-left: auto;
    margin-right: auto;
    width: 973px;
}

.main{
    background: #ffffff url('../img/bg-site.png') left top;
    border-radius: 10px;
}

.header-content{
}

.header {
    position: relative;
    top: 25px;
    color: #000000;
    font-style:italic;
    width: 100%;
}

div.register{
    background-color: white;
    height: 300px;
    width: 500px;
    border-radius: 5px;
    position: fixed;
    top: 25%;
    left: 33%;
    z-index: 100;
}

.register-error{
    color: red;
    font-size: 8pt;
    position: relative;
    /*left: 80px;*/
}

.FBLabel, .FBInput {
    /*display:block;*/
}

.form-field{
    position: relative;
    margin-left: 80px;
}



div.loggin{
    background-color: white;
    height: 75px;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    right: 0px;
}

.loggin
{
    border-top:1px solid #dde0e8;
    border-bottom:1px solid #dde0e8;
    padding:10px 20px;
}

#button-register {
    right: 40px;
}

.button-login
{
    -moz-border-radius :2px;
    -webkit-border-radius: 2px;
    border-radius: 15px;
    background: #a1d8f0;
    background: -moz-linear-gradient(top, #badff3, #7acbed);
    background: -webkit-gradient(linear, left top, left bottom, from(#badff3), to(#7acbed));
    border: 1px solid #7db0cc !important;
    cursor: pointer;
    padding: 11px 16px;
    font: bold 11px/14px Verdana, Tahomma, Geneva;
    text-shadow: rgba(0,0,0,0.2) 0 1px 0px;
    color: #ffffff;
    -moz-box-shadow: inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    -webkit-box-shadow: inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    box-shadow: inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    position: relative;
    top: 4px;
    right: 20px;
    float: right;
    padding: 7px 21px;
}

.button-login:hover,
.button-login:focus,
.button-login:active{
    background:#a1d8f0;
    background: -moz-linear-gradient(top, #7acbed, #badff3);
    background: -webkit-gradient(linear, left top, left bottom, from(#7acbed), to(#badff3));
}
.button-login:active
{
    text-shadow:rgba(0,0,0,0.3) 0 -1px 0px;
    text-shadow:rgba(0,0,0,0.3) 0 -1px 0px;
}

.slogan{
    position: absolute;
    top: 0px;
    right: 0px;
    color: #FFFFFF !important;
}

.navigation .section{
}

.navigation {
    position: absolute;
    bottom: 75px;
    right: 0px;
    font-size: 16px;
}
.navigation li{
    height: 30px;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 10px;
}
.navigation .last{
    background: none;
    padding-right:0px
}
.navigation li a{
    color: white;
}
.navigation a, .navigation a:hover, .navigation .active{
    color: #31537f;
}

.active{
    font-weight: bold;
    text-decoration: underline;
    color: #FFFFFF !important;
}

.main-menu{
    list-style-type: none;
    width: 100%;
    padding: 0 0 0 0px;
}

.main-menu ul{

}

.main-menu li{
    float: left;
}

.main {
    height: 882px;
    background-color: white;
    position: relative;
    top: -30px;
}

ul.slide-show{
    margin-bottom: 30px;
    list-style-type: none;
    padding: 0 0 0 0px !important;
}

.image-slide-show{
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.breadcrumb{
    height: 10px;
}

.title-view {
    font-size: 24px;
    color: #ffffff;
    width: 340px;
    position: absolute;
    font-weight: lighter;
    line-height:28px;
    top: 100px;
    left: 60px;
}

.desc-view{
    color: white;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    width: 310px;
    left: 60px;
    top: 160px;
}

.button-view{
    left: 60px;
    position: absolute;
    top: 260px;
}

.button-view a:link,
.button-view a:visited
{
    background-color:#31537F;
    color:#FFFFFF;
    padding: 4px 25px 6px 25px;
    -moz-border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
}

.button-view a:hover,
.button-view a:focus,
.button-view a:active
{
    background-color:#5778a3;
}

.box{
    width: 280px;
    height: 340px;
    padding: 10px 0 10px 10px;
    background-color: #f3f3f3;
    border:1px solid #E3E4E4;
    position: absolute;
    font-size: 0.75em;
    margin-top: 20px;
}

div#first{
    left: 32px;
}

div#middle{
    left: 342px;
}

div#last{
    right: 32px;
}

h3.title-box{
    text-align: center;
    font-weight: lighter;
    font-size: 17px;
    height: 20px;
    line-height: 1.3em;
    margin-top: 0.769em;
    margin-bottom: 0.769em;
}

.small_button_box {
    position: absolute;
    right: 0px;
}

.small_button_box a:link,
.small_button_box a:visited,
.small_button_box .script_function
{
    background-color:#31537F;
    color:#FFFFFF;
    padding-bottom: 6px;
    padding-top: 4px;
    padding-left: 25px;
    padding-right: 25px;
    -moz-border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    margin-right: 10px;
    cursor: pointer !important;
    text-decoration: none;
}

.small_button_box a:hover,
.small_button_box a:focus,
.small_button_box a:active
{
    background-color: #5778a3;
}

.footer{
    /*background-color: #2e2b32;*/
    width: 100%;
    /*height: 90px;*/
    bottom: 55px;
    position: absolute;
    top: 1090px;
}

.footer a, .footer a:link, .footer a:visited{
    color:#666666
}

.footer a:active, .footer a:focus, .footer a:hover{
    color:#999999
}

.footer-content{
    font-size: 12px;
    margin-left: 135px;
}

.footer-content ul, .footer-more-info ul{
    list-style:none;
}

.footer-content li, .footer-more-info li{
    float:left;
    margin-right:10px;
    padding-right:10px;
    border-right:1px solid #666666
}

.footer-content li.last-link, .footer-more-info li.last-link{
    border-right: none;
}

.footer-menu {
    float:left;
}

.footer-more-info{
    font-size: 12px;
    margin-right: 135px;
    float:right;
}

.menu-conent-boxes{
    margin-top: 30px;
}

.menu-conent-boxes#second-line{
    position: relative;
    top: 380px;
}










ul.ppt {
    position: relative;
}

.ppt li {
    list-style-type: none;
    position: relative;
    top: 0;
    left: 0;
}

.ppt img {
    border: 1px solid #e7e7e7;
    padding: 5px;
    background-color: #ececec;
}


.film-list, .film-list th, .film-list tr{
    /*border:1px solid black !important;*/
}

a#loggin_admin_menu{
    text-decoration: underline;
    cursor: pointer;
}

a{
    cursor: pointer;
}

.pelicula{
    margin: 40px 70px 0 70px;

}

.votar-film{
    /*float: right;*/
}
.pelicula-trailer{
    display: table;
    margin: 20px auto;
}

.pelicula-title{
    font-size: 30px;
}

.pelicula-original-title{
    font-style: italic;
}

.pelicula-image{
    float: left;
}

.pelicula-info{
    float: left;
    width: 600px;
    margin-left: 10px;
}

.votar-film {
    clear: both;
    padding-top: 10px;
}